// 공통 폰트 정의
@font-face {
  font-family: 'SpoqaHanSansNeo-Thin';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$font-thin: 'SpoqaHanSansNeo-Thin';
$font-light: 'SpoqaHanSansNeo-Light';
$font-regular: 'SpoqaHanSansNeo-Regular';
$font-medium: 'SpoqaHanSansNeo-Medium';
$font-bold: 'SpoqaHanSansNeo-Bold';

// 데스크톱 사이즈
@media screen and (min-width: 700px) {
  .RegisterServiceAgreeStyle {
    min-height: 100vh;
    background: linear-gradient(to bottom, #3D4659, #484644);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    .RegisterServiceAgreeContainer {
      width: 100vw;
      height: 100%;
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content: center;

      .RegisterServiceAgreeContent {
        margin-top: 120px;
        margin-bottom: 60px;

        .RegisterServiceAgreeTopContent {
          text-align: center;
          line-height: 1.6;

          .RegisterServiceAgreeTitle {
            font-family: $font-bold;
            font-size: 35px;
            color: #FFFFFF;
          }

          .RegisterServiceAgreeSubTitle {
            font-family: $font-light;
            font-size: 17px;
            color: #FFFFFF;
          }
        }

        .RegisterServiceAgreeButtonContent {
          text-align: center;
          margin-top: 80px;

          .RegisterServiceAgreeToLoginText {
            font-family: $font-medium;
            font-size: 12px;
            color: #C3B3A9;
            cursor: pointer;
          }

          .RegisterServiceAgreeSubmitButton {
            margin-top: 12px;
            width: 350px;
            height: 42px;
            background-color: #FFFFFF;
            border: 1px solid #AF9D93;
            box-shadow: none;
            border-radius: 10px;
            font-family: $font-medium;
            font-size: 12px;
            color: #2F3644;
          }
        }
      }
    }
  }
}

// 모바일 사이즈
@media screen and (max-width: 699px) {
  .RegisterServiceAgreeStyle {
    min-height: 100vh;
    background: linear-gradient(to bottom, #3D4659, #484644);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    .RegisterServiceAgreeContainer {
      width: 100vw;
      height: 100%;
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content: center;

      .RegisterServiceAgreeContent {
        margin-top: 120px;
        margin-bottom: 60px;

        .RegisterServiceAgreeTopContent {
          text-align: center;
          line-height: 1.4;

          .RegisterServiceAgreeTitle {
            font-family: $font-bold;
            font-size: 25px;
            color: #FFFFFF;
          }

          .RegisterServiceAgreeSubTitle {
            font-family: $font-light;
            font-size: 12px;
            color: #FFFFFF;
          }
        }

        .RegisterServiceAgreeButtonContent {
          text-align: center;
          margin-top: 80px;

          .RegisterServiceAgreeToLoginText {
            font-family: $font-medium;
            font-size: 12px;
            color: #C3B3A9;
            cursor: pointer;
          }

          .RegisterServiceAgreeSubmitButton {
            margin-top: 10px;
            width: 280px;
            height: 40px;
            background-color: #FFFFFF;
            box-shadow: none;
            border-radius: 10px;
            font-family: $font-medium;
            font-size: 12px;
            color: #2F3644;

          }
        }
      }
    }
  }
}