// 공통 폰트 정의
@font-face {
  font-family: 'SpoqaHanSansNeo-Thin';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$font-thin: 'SpoqaHanSansNeo-Thin';
$font-light: 'SpoqaHanSansNeo-Light';
$font-regular: 'SpoqaHanSansNeo-Regular';
$font-medium: 'SpoqaHanSansNeo-Medium';
$font-bold: 'SpoqaHanSansNeo-Bold';

// 데스크톱 사이즈
@media screen and (min-width: 700px) {
  .RegisterFinishStyle {
    min-height: 100vh;
    background: linear-gradient(to bottom, #7180A1, #817C79);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    .RegisterFinishContainer {
      width: 100vw;
      height: 100%;
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content: center;

      .RegisterFinishContent {
        margin-top: 120px;
        margin-bottom: 60px;
      }

      .RegisterFinishTopContent {
        text-align: center;
        margin-bottom: 20px;

        .RegisterFinishTitle {
          font-family: $font-bold;
          font-size: 40px;
          color: #FFFFFF;
        }
      }

      .RegisterFinishMidContent {
        text-align: center;
      }

      .RegisterFinishBottomContent {
        text-align: center;
        margin-top: 20px;

        .RegisterFinishSubTitle {
          font-family: $font-regular;
          font-size: 18px;
          color: #FFFFFF;
        }
      }

      .RegisterFinishButtonContent {
        text-align: center;
        margin-top: 35px;

        .RegisterFinishButton {
          width: 300px;
          height: 40px;
          background-color: #FFFFFF;
          box-shadow: none;
          border-radius: 10px;
          font-family: $font-medium;
          font-size: 12px;
          color: #2F3644;
        }
      }
    }
  }
}

// 모바일 사이즈
@media screen and (max-width: 699px) {
  .RegisterFinishStyle {
    min-height: 100vh;
    background: linear-gradient(to bottom, #7180A1, #817C79);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    .RegisterFinishContainer {
      width: 100vw;
      height: 100%;
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content: center;

      .RegisterFinishContent {
        margin-top: 120px;
        margin-bottom: 60px;
      }

      .RegisterFinishTopContent {
        text-align: center;
        margin-bottom: 20px;

        .RegisterFinishTitle {
          font-family: $font-bold;
          font-size: 25px;
          color: #FFFFFF;
        }
      }

      .RegisterFinishMidContent {
        text-align: center;
      }

      .RegisterFinishBottomContent {
        text-align: center;
        margin-top: 15px;

        .RegisterFinishSubTitle {
          font-family: $font-regular;
          font-size: 13px;
          color: #FFFFFF;
        }
      }

      .RegisterFinishButtonContent {
        text-align: center;
        margin-top: 30px;

        .RegisterFinishButton {
          width: 220px;
          height: 35px;
          background-color: #FFFFFF;
          box-shadow: none;
          border-radius: 7px;
          font-family: $font-medium;
          font-size: 10px;
          color: #2F3644;
        }
      }
    }
  }
}