// 공통 폰트 정의
@font-face {
  font-family: 'SpoqaHanSansNeo-Thin';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

$font-thin: 'SpoqaHanSansNeo-Thin';
$font-light: 'SpoqaHanSansNeo-Light';
$font-regular: 'SpoqaHanSansNeo-Regular';
$font-medium: 'SpoqaHanSansNeo-Medium';
$font-bold: 'SpoqaHanSansNeo-Bold';

@media screen and (min-width: 800px) {
    .MatchOptionsResultStyle {
  min-height: 100vh;
  background: linear-gradient(to bottom, #1C1F26, #4E4A47);
  display: flex;
  justify-content: center;

  .MatchOptionsResultContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    min-height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: clamp(20px, 5vw, 100px);

    .MatchOptionsResultTopContent {
      margin-top: 45px;
      text-align: center;
      line-height: 1.6;
      display: flex;
      flex-direction: column;

      .MatchOptionsResultMainTitle {
        font-family: $font-bold;
        font-size: 34px;
        color: #FFFFFF;
      }
      .MatchOptionsResultSubTitle {
        font-family: $font-regular;
        font-size: 15px;
        color: #FFFFFF;
      }
    }

    .MatchOptionsResultMidContent {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      .MatchOptionsResultLeftImageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .MatchOptionsResultCarImage {
          width: 100%;
          object-fit: contain;
          margin: auto;
        }

        .MatchOptionsResultCarTitleWrapper {
          display: flex;
          flex-direction: column;

          .MatchOptionsResultCarMainTitle {
            margin: auto;
            font-family: $font-bold;
            font-size: 30px;
            color: #FFFFFF;
          }
          .MatchOptionsResultCarSubTitle {
            margin: auto;
            margin-top: 5px;
            font-family: $font-medium;
            font-size: 18px;
            color: #E8EEFF;
          }
        }
      }

      .MatchOptionsResultRightCardStyle {
        min-width: 500px;
        height: 60vh;
        background: transparent;
        overflow-y: auto;
        box-shadow: none;

        .MatchOptionsResultRightCardContainer {
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          .MatchOptionsResultRightCardTitle {
            margin-top: 30px;
            margin-left: 5px;
            font-family: $font-bold;
            font-size: 22px;
            color: #FBE4D7;
            }
            .MatchOptionsResultRightCardTitleDivider {
                margin: auto;
                width: 480px;
                height: 1px;
                background-color: #7A8499;
                margin-top: 20px;
            }
            .MatchOptionsResultOptionsItemTextWrapper {
                width: 450px;
                margin: auto;
                margin-top: 20px;
                line-height: 1.2;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .MatchOptionsResultOptionsTitle {
                    font-family: $font-medium;
                    font-size: 18px;
                    color: #FFFFFF;
                }
                .MatchOptionsResultOptionsPrice {
                    font-family: $font-bold;
                    font-size: 10px;
                    color: #D8E3FF;
                }
            }
            .MatchOptionsResultAllPriceTextWrapper {
                width: 480px;
                height: 60px;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #FFFFFF;
                border-radius: 10px;

                .MatchOptionsResultAllPriceTitle {
                    margin-left: 20px;
                    font-family: $font-medium;
                    font-size: 18px;
                    color: #2F3644;
                }
                .MatchOptionsResultAllPrice {
                    margin-right: 20px;
                    font-family: $font-bold;
                    font-size: 22px;
                    color: #596A8A;
                }
            }
            .MatchOptionsResultButtonsContainer {
                margin: auto;
                margin-top: 30px;
                display: flex;
                justify-content: row;
                gap: 10px;

                .MatchOptionsResultButton {
                    width: 140px;
                    height: 45px;
                    font-family: $font-medium;
                    font-size: 16px;
                    background: #AF9D93;
                    color: #FFFFFF;
                    border-radius: 10px;
                    box-shadow: none;
                }
            }
        }
      }
    }
  }
}
}

@media screen and (max-width: 799px) {
    .MatchOptionsResultStyle {
  min-height: 100vh;
  background: linear-gradient(to bottom, #1C1F26, #4E4A47);
  display: flex;
  justify-content: center;

  .MatchOptionsResultContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    min-height: 100%;
    margin-top: 50px;
    margin-bottom: 40px;

    .MatchOptionsResultTopContent {
        margin-top: 45px;
        text-align: left;
        margin-left: 20px;
        line-height: 1.4;
        display: flex;
        flex-direction: column;

      .MatchOptionsResultMainTitle {
        font-family: $font-bold;
        font-size: 25px;
        color: #FFFFFF;
      }
      .MatchOptionsResultSubTitle {
        font-family: $font-regular;
        font-size: 12px;
        color: #FFFFFF;
      }
    }

    .MatchOptionsResultMidContent {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .MatchOptionsResultLeftImageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .MatchOptionsResultCarImage {
          width: 100%;
          object-fit: contain;
          margin: auto;
        }

        .MatchOptionsResultCarTitleWrapper {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          .MatchOptionsResultCarMainTitle {
            margin: auto;
            font-family: $font-bold;
            font-size: 20px;
            color: #FFFFFF;
          }
          .MatchOptionsResultCarSubTitle {
            margin: auto;
            margin-top: 4px;
            font-family: $font-medium;
            font-size: 14px;
            color: #E8EEFF;
          }
        }
      }

      .MatchOptionsResultRightCardStyle {
        width: 95%;
        height: 100%;
        background: transparent;
        overflow-y: auto;
        box-shadow: none;

        .MatchOptionsResultRightCardContainer {
          display: flex;
          flex-direction: column;
          margin-top: 18px;

          .MatchOptionsResultRightCardTitle {
            margin-top: 30px;
            margin-left: 5px;
            font-family: $font-bold;
            font-size: 16px;
            color: #FBE4D7;
            }
            .MatchOptionsResultRightCardTitleDivider {
                margin: auto;
                width: 100%;
                height: 1px;
                background-color: #7A8499;
                margin-top: 16px;
            }
            .MatchOptionsResultOptionsItemTextWrapper {
                width: 98%;
                margin: auto;
                margin-top: 16px;
                line-height: 1.0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .MatchOptionsResultOptionsTitle {
                    font-family: $font-medium;
                    font-size: 12px;
                    color: #FFFFFF;
                }
                .MatchOptionsResultOptionsPrice {
                    font-family: $font-bold;
                    font-size: 8px;
                    color: #D8E3FF;
                }
            }
            .MatchOptionsResultAllPriceTextWrapper {
                width: 100%;
                height: 60px;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #FFFFFF;
                border-radius: 10px;

                .MatchOptionsResultAllPriceTitle {
                    margin-left: 15px;
                    font-family: $font-medium;
                    font-size: 14px;
                    color: #2F3644;
                }
                .MatchOptionsResultAllPrice {
                    margin-right: 15px;
                    font-family: $font-bold;
                    font-size: 18px;
                    color: #596A8A;
                }
            }
            .MatchOptionsResultButtonsContainer {
                margin: auto;
                margin-top: 10px;
                display: flex;
                justify-content: row;
                gap: 15px;

                .MatchOptionsResultButton {
                    width: 120px;
                    height: 40px;
                    font-family: $font-medium;
                    font-size: 12px;
                    background: #AF9D93;
                    color: #FFFFFF;
                    border-radius: 10px;
                    box-shadow: none;
                }
            }
        }
      }
    }
  }
}
}