$primary-color: #C3B3A9;
$hover-color: #F7D7C5;
$icon-color: #7A8499;
$font-medium: "SpoqaHanSansNeo-medium";

.header {
  font-family: $font-medium;
  text-decoration: none;
  font-size: 14px;
  color: $primary-color;
  transition: all 0.2s ease-in-out;

  &.active {
    color: $hover-color;
  }

  &:hover {
    color: $hover-color;
  }
}

.icon {
  color: $icon-color;
  transition: all 0.2s ease-in-out;

  &:hover,
  &.active {
    color: $hover-color;
  }
}

// 데스크톱 스타일
.desktop-header {
  display: flex;
  align-items: center;

  &_text {
    @extend .header;
    margin-left: 35px;
  }

  &_icon {
    @extend .icon;
    margin-right: 20px;
  }
}

// 모바일 스타일
.mobile-header {
  &_text {
    @extend .header;
    margin-left: 5px;
  }

  &_icon {
    @extend .icon;
  }
}