@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

$primary-color: #D7D1CC;
$hover-color: #FFFFFF;
$icon-color: #B9ADA5;
$font-medium: "SpoqaHanSansNeo-medium";

.text {
  font-family: $font-medium;
  text-decoration: none;
  font-size: 14px;
  color: $primary-color;
  transition: all 0.2s ease-in-out;

  &.active, &:hover {
    color: $hover-color;
  }
}

.icon {
  color: $icon-color;
  transition: all 0.2s ease-in-out;

  &:hover, &.active {
    color: $hover-color;
  }
}
.Header {
  &_AppBarStyle {
    background-color: #312E2C;
    border-bottom: 1px solid #C3B3A9;
    box-shadow: none;
    height: 60px;
    z-index: 4;
  }

  &_Container {
    width: 100vw;
    max-width: 1100px;
    margin: auto;
  }

  &_ToolbarStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &_text {
    @extend .text;
    margin-left: 40px;
  }

  &_icon {
    @extend .icon;
  }
}