// 공통 폰트 정의
@font-face {
    font-family: 'SpoqaHanSansNeo-Thin';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  $font-thin: 'SpoqaHanSansNeo-Thin';
  $font-light: 'SpoqaHanSansNeo-Light';
  $font-regular: 'SpoqaHanSansNeo-Regular';
  $font-medium: 'SpoqaHanSansNeo-Medium';
  $font-bold: 'SpoqaHanSansNeo-Bold';

//recaptcha 공통 가운데 정렬
.CustomerSigninRecaptchaWrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

// 데스크톱 사이즈  
@media screen and (min-width: 700px) {
    .CustomerSigninStyle {
        min-height: 100vh;
        background: linear-gradient(to bottom, #817C79, #3D4659);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;

        .CustomerSigninCard {
            width: 530px;
            height: 600px;
            margin-top: 60px;
            border-radius: 20px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;

            .CustomerSigninLogoStyle {
                text-align: center;
                font-family: $font-medium;
                font-size: 32px;
                color: #000000;
            }

            .CustomerSigninTopContent {
                text-align: center;
            
                .CustomerSigninTextField {
                    padding-left: 15px;
                    width: 420px;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #AF9D93;

                    &::placeholder {
                        font-family: $font-light;
                        font-size: 16px;
                        color: #596A8A;
                }
            }
        }

            .CustomerSigninMidContent {
                text-align: right;
                margin-top: 10px;
                margin-right: 30px;

                .CustomerSigninMidContentTextStyle {
                    font-family: $font-thin;
                    font-size: 14px;
                    color: #2F3644;
                    cursor: pointer;
                }

                .CustomerSigninMidContentLineStyle {
                    font-family: $font-bold;
                    font-size: 10px;
                    color: #CACACA;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            .CustomerSigninBottomContent {
                text-align: center;
                margin-top: 50px;

                .CustomerSigninLoginButton { 
                    width: 420px;
                    height: 50px;
                    border-radius: 10px;
                    background-color: #2F3644;
                    font-family: $font-medium;
                    font-size: 16px;
                    color: #F7D7C5;
                }

                .CustomerSigninNaverLoginButton { 
                    width: 420px;
                    height: 50px;
                    border-radius: 10px;
                    background-color: #66D564;
                    font-family: $font-medium;
                    font-size: 16px;
                    color: #FFFFFF;
                }

                .CustomerSigninKakaoLoginButton { 
                    width: 420px;
                    height: 50px;
                    border-radius: 10px;
                    background-color: #F5EF44;
                    font-family: $font-medium;
                    font-size: 16px;
                    color: #4E4A47;
                }

                .CustomerSigninRegisterButton {
                    width: 420px;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid #AF9D93;
                    background-color: #FFFFFF;
                    font-family: $font-medium;
                    font-size: 16px;
                    color: #2F3644;
                }
            }
        }
    }
}

// 모바일 사이즈
@media screen and (max-width: 699px) {
    .CustomerSigninStyle {
        min-height: 100vh;
        background: linear-gradient(to bottom, #817C79, #3D4659);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;

        .CustomerSigninCard {
            width: 85vw;
            height: 500px;
            margin-top: 60px;
            border-radius: 20px;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;

            .CustomerSigninLogoStyle {
                text-align: center;
                font-family: $font-medium;
                font-size: 24px;
                color: #000000;
            }

            .CustomerSigninTopContent {
                text-align: center;
            
                .CustomerSigninTextField {
                    padding-left: 10px;
                    width: 65vw;
                    height: 40px;
                    border-radius: 10px;
                    border: 1px solid #AF9D93;

                    &::placeholder {
                        font-family: $font-light;
                        font-size: 12px;
                        color: #596A8A;
                }
            }
        }

            .CustomerSigninMidContent {
                text-align: right;
                margin-top: 5px;
                margin-right: 7vw;

                .CustomerSigninMidContentTextStyle {
                    font-family: $font-thin;
                    font-size: 11px;
                    color: #2F3644;
                    cursor: pointer;
                }

                .CustomerSigninMidContentLineStyle {
                    font-family: $font-bold;
                    font-size: 7px;
                    color: #CACACA;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            .CustomerSigninBottomContent {
                text-align: center;
                margin-top: 40px;

                .CustomerSigninLoginButton { 
                    width: 65vw;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #2F3644;
                    font-family: $font-medium;
                    font-size: 12px;
                    color: #F7D7C5;
                }


                .CustomerSigninNaverLoginButton { 
                    width: 65vw;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #66D564;
                    font-family: $font-medium;
                    font-size: 12px;
                    color: #FFFFFF;
                }

                .CustomerSigninKakaoLoginButton { 
                    width: 65vw;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #F5EF44;
                    font-family: $font-medium;
                    font-size: 12px;
                    color: #4E4A47;
                }

                .CustomerSigninRegisterButton {
                    width: 65vw;
                    height: 40px;
                    border-radius: 10px;
                    border: 1px solid #AF9D93;
                    background-color: #FFFFFF;
                    font-family: $font-medium;
                    font-size: 12px;
                    color: #2F3644;
                }
            }
        }
    }
}