@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

$font-bold: "SpoqaHanSansNeo-Bold";

// 데스크톱 스타일
.AdminHeader {
  &_AppBarStyle {
    background-color: #312E2C;
    border-bottom: 1px solid #C3B3A9;
    box-shadow: none;
    height: 60px;
    z-index: 4;
  }

  &_divider {
    width: 1px;
    height: 15px;
    background-color: #FFFFFF;
    margin-right: 20px;
    margin-left: 20px;
}

  &_Container {
    width: 100vw;
    max-width: 1100px;
    margin: auto;
  }

  &_ToolbarStyle {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &_text {
    font-family: $font-bold;
    text-decoration: none;
    font-size: 14px;
    color: #FFE5D6;
    cursor: default;
  }
}